<!!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset = "UTF-8">
        <title>WORKLINK</title>
        <!--Aqui pondriamos la llamada a css para el titulo-->
        <!--Y aqui el de js-->
    </head>
    <body>
        <h1>Worklink</h1>
        <section>
            <h2>Iniciar sesión</h2>
            <form action="/login" method="POST">
                <input type="text" name="correo" placeholder="Email o usuario: ">
                <input type="text" name="password" placeholder="Contraseña: ">
                <button type="submit">Iniciar sesión</button>
                <!--Aqui podria poner para "crear cuenta"-->
            </form>
        </section>
    </body>
</html>