<!!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset = "UTF-8">
        <title>WORKLINK</title>
        <!--Aqui pondriamos la llamada a css para el titulo-->
        <!--Y aqui el de js-->
    </head>
    <body>
        <h1>Worklink</h1>
        <section>
            <h2>Iniciar sesión</h2>
            <form action="/login" method="POST">
                <input type="text" name="correo" placeholder="Email: ">
                <input type="text" name="password" placeholder="Contraseña: ">
                <button type="submit">Iniciar sesión</button> <!--Editar esto apra que, con js, sea asíncrno-->
            </form>
        </section>
        <section>
            <h2>Crear cuenta</h2>
            <form action="/create" method="POST">
                <input type="text" name="nombre" placeholder="Nombre de usuario: ">
                <input type="text" name="correo" placeholder="Email: ">
                <input type="text" name="password" placeholder="Contraseña: ">
                <button type="submit">Crear cuenta</button> <!--Editar esto para que, con js, sea asincrono-->
            </form>
        </section>
    </body>
</html>